{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
            <table>
                    <tr>
                        <td>
                            <h1>User: {{ user.username }}</h1>
                        </td>
                        <td>
                            <img src="https://www.fakepersongenerator.com/Face/female/female20131023654533081.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td>{% if user.last_seen %}
                            <p>Last seen on: {{ user.last_seen }}</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.about_me %}
                            <p>{{ user.about_me }}</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                {% if user == current_user %}
                <p>
                    <a href="{{ url_for('main.edit_profile') }}" class="btn btn-primary">Edit your profile</a>
                </p>
                {% endif %}
                <hr>
                

    </div>
    <div class="row">
            <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Toy</th>
                            <th>Image</th>
                            <th>
                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for toy in toys %}
                        <tr valign="top">
                            <td> {{ toy.name }}</td>
                            <td colspan="2">
                                <a href="#">More</a>
                            </td>
                
                        </tr>
                        {% endfor %}
                    </tbody>
                
                </table>
    </div>
</div>
{% endblock %}